name: Deploy and run Telegram folder embed bot

on:
  push:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun i
      - name: Run tests
        run: bun run test

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Transfer application to server
        uses: appleboy/scp-action@master
        with:
          source: "./"
          target: "${{secrets.DEPLOY_FOLDER}}"
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
