name: Deploy and run Telegram folder embed bot

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun i
      - name: Run tests
        run: bun run test

  build-and-deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v1
      - name: Transfer application to server
        uses: burnett01/rsync-deployments@7.0.2
        with:
          switches: -avzr --delete --delete-excluded --filter=":e- .gitignore" --filter "- .git/"
          path: "./"
          remote_path: "${{secrets.DEPLOY_FOLDER}}"
          remote_host: ${{ secrets.HOST }}
          remote_port: ${{ secrets.SSH_PORT }}
          remote_key: ${{ secrets.SSH_KEY }}
          remote_user: ${{ secrets.USERNAME }}
      - name: Install dependencies
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{SECRETS.DEPLOY_FOLDER}}
            echo ${{vars}}
            ${{ vars.BUN_PATH }} install --production
      - name: Restart pm2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            ${{ vars.BUN_PATH }} --bun ${{ vars.PM2_PATH }} ${{vars.PM2_PATH}} restart ${{ vars.APP_NAME }} --update-env
